* {
  background-color: #215200;
}

#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-width: 375px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  overflow-x: hidden;
}

@media (min-width: 720px) {
  body {
    background-color: #ff0000;
  }
}
